WebContent/wsdl/AdminServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wsdl.goair" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://wsdl.goair" xmlns:intf="http://wsdl.goair" xmlns:tns1="http://booking.model.goair" xmlns:tns2="http://customer.model.goair" xmlns:tns3="http://general.model.goair" xmlns:tns4="http://flight.model.goair" xmlns:tns5="http://employee.model.goair" xmlns:tns6="http://util.goair" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://wsdl.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://util.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://employee.model.goair"/>
   <import namespace="http://booking.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <element name="deleteBooking">
    <complexType>
     <sequence>
      <element name="booking" type="tns1:Booking"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns4_Flight">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns4:Flight"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns5_Employee">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns5:Employee"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns2_Customer">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns2:Customer"/>
    </sequence>
   </complexType>
   <element name="deleteBookingResponse">
    <complexType>
     <sequence>
      <element name="deleteBookingReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="editBooking">
    <complexType>
     <sequence>
      <element name="booking" type="tns1:Booking"/>
     </sequence>
    </complexType>
   </element>
   <element name="editBookingResponse">
    <complexType>
     <sequence>
      <element name="editBookingReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomers">
    <complexType/>
   </element>
   <element name="getCustomersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCustomersReturn" type="tns2:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="editFlight">
    <complexType>
     <sequence>
      <element name="flight" type="tns4:Flight"/>
     </sequence>
    </complexType>
   </element>
   <element name="editFlightResponse">
    <complexType>
     <sequence>
      <element name="editFlightReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteFlight">
    <complexType>
     <sequence>
      <element name="flight" type="tns4:Flight"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteFlightResponse">
    <complexType>
     <sequence>
      <element name="deleteFlightReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchCustomers">
    <complexType>
     <sequence>
      <element name="searchParameters" type="tns6:SearchParametersForCustomers"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchCustomersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchCustomersReturn" type="tns2:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBookings">
    <complexType/>
   </element>
   <element name="getBookingsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getBookingsReturn" type="tns1:Booking"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteEmployee">
    <complexType>
     <sequence>
      <element name="employee" type="tns5:Employee"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteEmployeeResponse">
    <complexType>
     <sequence>
      <element name="deleteEmployeeReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchBookings">
    <complexType>
     <sequence>
      <element name="searchParameters" type="tns6:SearchParametersForEmployees"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchBookingsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchBookingsReturn" type="tns1:Booking"/>
     </sequence>
    </complexType>
   </element>
   <element name="editEmployee">
    <complexType>
     <sequence>
      <element name="employee" type="tns5:Employee"/>
     </sequence>
    </complexType>
   </element>
   <element name="editEmployeeResponse">
    <complexType>
     <sequence>
      <element name="editEmployeeReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addEmployee">
    <complexType>
     <sequence>
      <element name="employee" type="tns5:Employee"/>
     </sequence>
    </complexType>
   </element>
   <element name="addEmployeeResponse">
    <complexType>
     <sequence>
      <element name="addEmployeeReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEmployees">
    <complexType/>
   </element>
   <element name="getEmployeesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getEmployeesReturn" type="tns5:Employee"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchEmployees">
    <complexType>
     <sequence>
      <element name="searchParameters" type="tns6:SearchParametersForEmployees"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchEmployeesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchEmployeesReturn" type="tns5:Employee"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchFlights">
    <complexType>
     <sequence>
      <element name="searchParameters" type="tns6:SearchParametersForFlights"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchFlightsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchFlightsReturn" type="tns4:Flight"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteCustomer">
    <complexType>
     <sequence>
      <element name="customer" type="tns2:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteCustomerResponse">
    <complexType>
     <sequence>
      <element name="deleteCustomerReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="editCustomer">
    <complexType>
     <sequence>
      <element name="customer" type="tns2:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="editCustomerResponse">
    <complexType>
     <sequence>
      <element name="editCustomerReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addFlight">
    <complexType>
     <sequence>
      <element name="flight" type="tns4:Flight"/>
     </sequence>
    </complexType>
   </element>
   <element name="addFlightResponse">
    <complexType>
     <sequence>
      <element name="addFlightReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCustomer">
    <complexType>
     <sequence>
      <element name="customer" type="tns2:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCustomerResponse">
    <complexType>
     <sequence>
      <element name="addCustomerReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFlights">
    <complexType/>
   </element>
   <element name="getFlightsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getFlightsReturn" type="tns4:Flight"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://general.model.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://util.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://employee.model.goair"/>
   <import namespace="http://booking.model.goair"/>
   <complexType name="Person">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="dob" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="zipcode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://customer.model.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://util.goair"/>
   <import namespace="http://employee.model.goair"/>
   <import namespace="http://booking.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <complexType name="Customer">
    <complexContent>
     <extension base="tns3:Person">
      <sequence>
       <element name="customerId" nillable="true" type="xsd:string"/>
       <element name="nationality" nillable="true" type="xsd:string"/>
       <element name="passportNo" type="xsd:int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://employee.model.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://util.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://booking.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <complexType name="Employee">
    <complexContent>
     <extension base="tns3:Person">
      <sequence>
       <element name="empDes" nillable="true" type="xsd:string"/>
       <element name="empFlights" nillable="true" type="impl:ArrayOf_tns4_Flight"/>
       <element name="empHiredate" nillable="true" type="xsd:string"/>
       <element name="empId" nillable="true" type="xsd:string"/>
       <element name="empPosition" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://flight.model.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://util.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://employee.model.goair"/>
   <import namespace="http://booking.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <complexType name="Flight">
    <sequence>
     <element name="airlineName" nillable="true" type="xsd:string"/>
     <element name="arrivalTime" nillable="true" type="xsd:long"/>
     <element name="crewDetails" nillable="true" type="impl:ArrayOf_tns5_Employee"/>
     <element name="departureTime" nillable="true" type="xsd:long"/>
     <element name="destination" nillable="true" type="xsd:string"/>
     <element name="flightId" nillable="true" type="xsd:string"/>
     <element name="flightNumber" nillable="true" type="xsd:string"/>
     <element name="numberOfSeats" type="xsd:int"/>
     <element name="numberOfSeatsReserved" type="xsd:int"/>
     <element name="passengers" nillable="true" type="impl:ArrayOf_tns2_Customer"/>
     <element name="source" nillable="true" type="xsd:string"/>
     <element name="status" nillable="true" type="xsd:string"/>
     <element name="wsdlString" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://booking.model.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://util.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://employee.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <complexType name="Booking">
    <sequence>
     <element name="customerBean" nillable="true" type="tns2:Customer"/>
     <element name="flightBean" nillable="true" type="tns4:Flight"/>
     <element name="reservationId" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://util.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://employee.model.goair"/>
   <import namespace="http://booking.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <complexType name="SearchParametersForCustomers">
    <sequence/>
   </complexType>
   <complexType name="SearchParametersForEmployees">
    <sequence/>
   </complexType>
   <complexType name="SearchParametersForFlights">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="editCustomerResponse">

      <wsdl:part element="impl:editCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editBookingRequest">

      <wsdl:part element="impl:editBooking" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteBookingRequest">

      <wsdl:part element="impl:deleteBooking" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchEmployeesResponse">

      <wsdl:part element="impl:searchEmployeesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomersRequest">

      <wsdl:part element="impl:getCustomers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteEmployeeResponse">

      <wsdl:part element="impl:deleteEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBookingsRequest">

      <wsdl:part element="impl:getBookings" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmployeesResponse">

      <wsdl:part element="impl:getEmployeesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFlightsRequest">

      <wsdl:part element="impl:getFlights" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchEmployeesRequest">

      <wsdl:part element="impl:searchEmployees" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFlightsResponse">

      <wsdl:part element="impl:getFlightsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchBookingsRequest">

      <wsdl:part element="impl:searchBookings" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchFlightsResponse">

      <wsdl:part element="impl:searchFlightsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmployeesRequest">

      <wsdl:part element="impl:getEmployees" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editEmployeeResponse">

      <wsdl:part element="impl:editEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBookingsResponse">

      <wsdl:part element="impl:getBookingsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteFlightRequest">

      <wsdl:part element="impl:deleteFlight" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editFlightRequest">

      <wsdl:part element="impl:editFlight" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteBookingResponse">

      <wsdl:part element="impl:deleteBookingResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addEmployeeRequest">

      <wsdl:part element="impl:addEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addFlightRequest">

      <wsdl:part element="impl:addFlight" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteCustomerRequest">

      <wsdl:part element="impl:deleteCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchBookingsResponse">

      <wsdl:part element="impl:searchBookingsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editEmployeeRequest">

      <wsdl:part element="impl:editEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteCustomerResponse">

      <wsdl:part element="impl:deleteCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchCustomersRequest">

      <wsdl:part element="impl:searchCustomers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchCustomersResponse">

      <wsdl:part element="impl:searchCustomersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addEmployeeResponse">

      <wsdl:part element="impl:addEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomersResponse">

      <wsdl:part element="impl:getCustomersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editBookingResponse">

      <wsdl:part element="impl:editBookingResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addFlightResponse">

      <wsdl:part element="impl:addFlightResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchFlightsRequest">

      <wsdl:part element="impl:searchFlights" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCustomerRequest">

      <wsdl:part element="impl:addCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteFlightResponse">

      <wsdl:part element="impl:deleteFlightResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editFlightResponse">

      <wsdl:part element="impl:editFlightResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteEmployeeRequest">

      <wsdl:part element="impl:deleteEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCustomerResponse">

      <wsdl:part element="impl:addCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editCustomerRequest">

      <wsdl:part element="impl:editCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AdminServices">

      <wsdl:operation name="deleteBooking">

         <wsdl:input message="impl:deleteBookingRequest" name="deleteBookingRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteBookingResponse" name="deleteBookingResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editBooking">

         <wsdl:input message="impl:editBookingRequest" name="editBookingRequest">

       </wsdl:input>

         <wsdl:output message="impl:editBookingResponse" name="editBookingResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomers">

         <wsdl:input message="impl:getCustomersRequest" name="getCustomersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomersResponse" name="getCustomersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editFlight">

         <wsdl:input message="impl:editFlightRequest" name="editFlightRequest">

       </wsdl:input>

         <wsdl:output message="impl:editFlightResponse" name="editFlightResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteFlight">

         <wsdl:input message="impl:deleteFlightRequest" name="deleteFlightRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteFlightResponse" name="deleteFlightResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchCustomers">

         <wsdl:input message="impl:searchCustomersRequest" name="searchCustomersRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchCustomersResponse" name="searchCustomersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBookings">

         <wsdl:input message="impl:getBookingsRequest" name="getBookingsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBookingsResponse" name="getBookingsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteEmployee">

         <wsdl:input message="impl:deleteEmployeeRequest" name="deleteEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteEmployeeResponse" name="deleteEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchBookings">

         <wsdl:input message="impl:searchBookingsRequest" name="searchBookingsRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchBookingsResponse" name="searchBookingsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editEmployee">

         <wsdl:input message="impl:editEmployeeRequest" name="editEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:editEmployeeResponse" name="editEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addEmployee">

         <wsdl:input message="impl:addEmployeeRequest" name="addEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:addEmployeeResponse" name="addEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEmployees">

         <wsdl:input message="impl:getEmployeesRequest" name="getEmployeesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEmployeesResponse" name="getEmployeesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchEmployees">

         <wsdl:input message="impl:searchEmployeesRequest" name="searchEmployeesRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchEmployeesResponse" name="searchEmployeesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchFlights">

         <wsdl:input message="impl:searchFlightsRequest" name="searchFlightsRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchFlightsResponse" name="searchFlightsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCustomer">

         <wsdl:input message="impl:deleteCustomerRequest" name="deleteCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteCustomerResponse" name="deleteCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editCustomer">

         <wsdl:input message="impl:editCustomerRequest" name="editCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:editCustomerResponse" name="editCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addFlight">

         <wsdl:input message="impl:addFlightRequest" name="addFlightRequest">

       </wsdl:input>

         <wsdl:output message="impl:addFlightResponse" name="addFlightResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCustomer">

         <wsdl:input message="impl:addCustomerRequest" name="addCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCustomerResponse" name="addCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFlights">

         <wsdl:input message="impl:getFlightsRequest" name="getFlightsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFlightsResponse" name="getFlightsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AdminServicesSoapBinding" type="impl:AdminServices">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="deleteBooking">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteBookingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteBookingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editBooking">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editBookingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editBookingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editFlight">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editFlightRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editFlightResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteFlight">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteFlightRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteFlightResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchCustomers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchCustomersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchCustomersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBookings">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBookingsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBookingsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchBookings">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchBookingsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchBookingsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEmployees">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEmployeesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEmployeesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchEmployees">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchEmployeesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchEmployeesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchFlights">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchFlightsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchFlightsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addFlight">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addFlightRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addFlightResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFlights">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFlightsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFlightsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AdminServicesService">

      <wsdl:port binding="impl:AdminServicesSoapBinding" name="AdminServices">

         <wsdlsoap:address location="http://tempuri.org/goAir/services/AdminServices"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
