WebContent/wsdl/AirlineServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wsdl.goair" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://wsdl.goair" xmlns:intf="http://wsdl.goair" xmlns:tns1="http://reservation.model.goair" xmlns:tns2="http://customer.model.goair" xmlns:tns3="http://general.model.goair" xmlns:tns4="http://flight.model.goair" xmlns:tns5="http://employee.model.goair" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://wsdl.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://reservation.model.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://employee.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <element name="cancelReservation">
    <complexType>
     <sequence>
      <element name="booking" type="tns1:Reservation"/>
     </sequence>
    </complexType>
   </element>
   <element name="cancelReservationResponse">
    <complexType>
     <sequence>
      <element name="cancelReservationReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createReservation">
    <complexType>
     <sequence>
      <element name="customer" type="tns2:Customer"/>
      <element name="flight" type="tns4:Flight"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns5_Employee">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns5:Employee"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns2_Customer">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns2:Customer"/>
    </sequence>
   </complexType>
   <element name="createReservationResponse">
    <complexType>
     <sequence>
      <element name="createReservationReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://reservation.model.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://employee.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <complexType name="Reservation">
    <sequence>
     <element name="airlineName" nillable="true" type="xsd:string"/>
     <element name="creditCardNumber" type="xsd:long"/>
     <element name="currentStatus" nillable="true" type="xsd:string"/>
     <element name="customerFirstName" nillable="true" type="xsd:string"/>
     <element name="customerId" type="xsd:int"/>
     <element name="customerLastName" nillable="true" type="xsd:string"/>
     <element name="dateOfBooking" nillable="true" type="xsd:dateTime"/>
     <element name="dateOfFlying" nillable="true" type="xsd:dateTime"/>
     <element name="departureTime" nillable="true" type="xsd:dateTime"/>
     <element name="destination" nillable="true" type="xsd:string"/>
     <element name="flightId" type="xsd:int"/>
     <element name="flightName" nillable="true" type="xsd:string"/>
     <element name="numberOfSeatsBooked" type="xsd:int"/>
     <element name="pnr" type="xsd:long"/>
     <element name="source" nillable="true" type="xsd:string"/>
     <element name="totalPrice" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://general.model.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://reservation.model.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://employee.model.goair"/>
   <complexType name="Person">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="currentStatus" nillable="true" type="xsd:string"/>
     <element name="dob" nillable="true" type="xsd:dateTime"/>
     <element name="emailId" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="gender" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="zipcode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://customer.model.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://reservation.model.goair"/>
   <import namespace="http://employee.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <complexType name="Customer">
    <complexContent>
     <extension base="tns3:Person">
      <sequence>
       <element name="customerId" type="xsd:int"/>
       <element name="nationality" nillable="true" type="xsd:string"/>
       <element name="passportNum" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://employee.model.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://reservation.model.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <complexType name="Employee">
    <complexContent>
     <extension base="tns3:Person">
      <sequence>
       <element name="airlineName" nillable="true" type="xsd:string"/>
       <element name="employeeId" nillable="true" type="xsd:int"/>
       <element name="hireDate" nillable="true" type="xsd:dateTime"/>
       <element name="jobDesc" nillable="true" type="xsd:string"/>
       <element name="position" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://flight.model.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://reservation.model.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://employee.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <complexType name="Flight">
    <sequence>
     <element name="airlineName" nillable="true" type="xsd:string"/>
     <element name="arrivalTime" nillable="true" type="xsd:dateTime"/>
     <element name="crewDetails" nillable="true" type="impl:ArrayOf_tns5_Employee"/>
     <element name="currentStatus" nillable="true" type="xsd:string"/>
     <element name="daysOfWeek" nillable="true" type="xsd:string"/>
     <element name="departureTime" nillable="true" type="xsd:dateTime"/>
     <element name="destination" nillable="true" type="xsd:string"/>
     <element name="flightId" nillable="true" type="xsd:int"/>
     <element name="flightName" nillable="true" type="xsd:string"/>
     <element name="flightStatus" nillable="true" type="xsd:string"/>
     <element name="flyingDate" nillable="true" type="xsd:dateTime"/>
     <element name="flyingEndDate" nillable="true" type="xsd:dateTime"/>
     <element name="flyingStartDate" nillable="true" type="xsd:dateTime"/>
     <element name="passengers" nillable="true" type="impl:ArrayOf_tns2_Customer"/>
     <element name="seatsAvailable" type="xsd:int"/>
     <element name="seatsReserved" type="xsd:int"/>
     <element name="source" nillable="true" type="xsd:string"/>
     <element name="ticketPrice" nillable="true" type="xsd:double"/>
     <element name="totalSeats" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="cancelReservationResponse">

      <wsdl:part element="impl:cancelReservationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelReservationRequest">

      <wsdl:part element="impl:cancelReservation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createReservationRequest">

      <wsdl:part element="impl:createReservation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createReservationResponse">

      <wsdl:part element="impl:createReservationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AirlineServices">

      <wsdl:operation name="cancelReservation">

         <wsdl:input message="impl:cancelReservationRequest" name="cancelReservationRequest">

       </wsdl:input>

         <wsdl:output message="impl:cancelReservationResponse" name="cancelReservationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createReservation">

         <wsdl:input message="impl:createReservationRequest" name="createReservationRequest">

       </wsdl:input>

         <wsdl:output message="impl:createReservationResponse" name="createReservationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AirlineServicesSoapBinding" type="impl:AirlineServices">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="cancelReservation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelReservationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cancelReservationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createReservation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createReservationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createReservationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AirlineServicesService">

      <wsdl:port binding="impl:AirlineServicesSoapBinding" name="AirlineServices">

         <wsdlsoap:address location="http://localhost:8080/goAir/services/AirlineServices"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
