WebContent/wsdl/CustomerServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wsdl.goair" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://wsdl.goair" xmlns:intf="http://wsdl.goair" xmlns:tns1="http://util.goair" xmlns:tns2="http://flight.model.goair" xmlns:tns3="http://employee.model.goair" xmlns:tns4="http://general.model.goair" xmlns:tns5="http://customer.model.goair" xmlns:tns6="http://reservation.model.goair" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://wsdl.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://util.goair"/>
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://reservation.model.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://employee.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="searchFlights">
    <complexType>
     <sequence>
      <element name="searchFlightParam" type="tns1:SearchParametersForFlights"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchFlightsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchFlightsReturn" type="tns2:Flight"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns3_Employee">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns3:Employee"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns5_Customer">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns5:Customer"/>
    </sequence>
   </complexType>
   <element name="customerLogin">
    <complexType>
     <sequence>
      <element name="emailId" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="customerLoginResponse">
    <complexType>
     <sequence>
      <element name="customerLoginReturn" type="tns5:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAllReservations">
    <complexType>
     <sequence>
      <element name="searchParam" type="tns1:SearchParametersForReservation"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAllReservationsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="viewAllReservationsReturn" type="tns6:Reservation"/>
     </sequence>
    </complexType>
   </element>
   <element name="addReservation">
    <complexType>
     <sequence>
      <element name="reservation" type="tns6:Reservation"/>
     </sequence>
    </complexType>
   </element>
   <element name="addReservationResponse">
    <complexType>
     <sequence>
      <element name="addReservationReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="cancelReservation">
    <complexType>
     <sequence>
      <element name="reservation" type="tns6:Reservation"/>
     </sequence>
    </complexType>
   </element>
   <element name="cancelReservationResponse">
    <complexType>
     <sequence>
      <element name="cancelReservationReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="editCustomer">
    <complexType>
     <sequence>
      <element name="customer" type="tns5:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="editCustomerResponse">
    <complexType>
     <sequence>
      <element name="editCustomerReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCustomer">
    <complexType>
     <sequence>
      <element name="customer" type="tns5:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCustomerResponse">
    <complexType>
     <sequence>
      <element name="addCustomerReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createReservation">
    <complexType>
     <sequence>
      <element name="customer" type="tns5:Customer"/>
      <element name="flight" type="tns2:Flight"/>
     </sequence>
    </complexType>
   </element>
   <element name="createReservationResponse">
    <complexType>
     <sequence>
      <element name="createReservationReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://util.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://reservation.model.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://employee.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <complexType name="SearchParametersForFlights">
    <sequence>
     <element name="airlineName" nillable="true" type="xsd:string"/>
     <element name="arrivalTime" nillable="true" type="xsd:dateTime"/>
     <element name="customerId" nillable="true" type="xsd:int"/>
     <element name="dateOfFlying" nillable="true" type="xsd:dateTime"/>
     <element name="departureTime" nillable="true" type="xsd:dateTime"/>
     <element name="destination" nillable="true" type="xsd:string"/>
     <element name="employeeId" nillable="true" type="xsd:int"/>
     <element name="flightId" nillable="true" type="xsd:int"/>
     <element name="flightName" nillable="true" type="xsd:string"/>
     <element name="numberOfSeatsAvialable" nillable="true" type="xsd:int"/>
     <element name="source" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SearchParametersForReservation">
    <sequence>
     <element name="customerId" type="xsd:int"/>
     <element name="dateOfFlying" nillable="true" type="xsd:dateTime"/>
     <element name="flightId" type="xsd:int"/>
     <element name="pnr" type="xsd:long"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://general.model.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://util.goair"/>
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://reservation.model.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://employee.model.goair"/>
   <complexType name="Person">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="currentStatus" nillable="true" type="xsd:string"/>
     <element name="dob" nillable="true" type="xsd:dateTime"/>
     <element name="emailId" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="gender" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="zipcode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://employee.model.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://util.goair"/>
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://reservation.model.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <complexType name="Employee">
    <complexContent>
     <extension base="tns4:Person">
      <sequence>
       <element name="airlineName" nillable="true" type="xsd:string"/>
       <element name="employeeId" nillable="true" type="xsd:string"/>
       <element name="hireDate" nillable="true" type="xsd:dateTime"/>
       <element name="jobDesc" nillable="true" type="xsd:string"/>
       <element name="position" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://customer.model.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://util.goair"/>
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://reservation.model.goair"/>
   <import namespace="http://employee.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <complexType name="Customer">
    <complexContent>
     <extension base="tns4:Person">
      <sequence>
       <element name="customerId" type="xsd:int"/>
       <element name="nationality" nillable="true" type="xsd:string"/>
       <element name="passportNum" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://flight.model.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://util.goair"/>
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://reservation.model.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://employee.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <complexType name="Flight">
    <sequence>
     <element name="airlineName" nillable="true" type="xsd:string"/>
     <element name="arrivalTime" nillable="true" type="xsd:dateTime"/>
     <element name="crewDetails" nillable="true" type="impl:ArrayOf_tns3_Employee"/>
     <element name="currentStatus" nillable="true" type="xsd:string"/>
     <element name="daysOfWeek" nillable="true" type="xsd:string"/>
     <element name="departureTime" nillable="true" type="xsd:dateTime"/>
     <element name="destination" nillable="true" type="xsd:string"/>
     <element name="flightId" nillable="true" type="xsd:int"/>
     <element name="flightName" nillable="true" type="xsd:string"/>
     <element name="flightStatus" nillable="true" type="xsd:string"/>
     <element name="flyingDate" nillable="true" type="xsd:dateTime"/>
     <element name="flyingEndDate" nillable="true" type="xsd:dateTime"/>
     <element name="flyingStartDate" nillable="true" type="xsd:dateTime"/>
     <element name="passengers" nillable="true" type="impl:ArrayOf_tns5_Customer"/>
     <element name="seatsAvailable" type="xsd:int"/>
     <element name="seatsReserved" type="xsd:int"/>
     <element name="source" nillable="true" type="xsd:string"/>
     <element name="ticketPrice" nillable="true" type="xsd:double"/>
     <element name="totalSeats" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://reservation.model.goair" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://util.goair"/>
   <import namespace="http://flight.model.goair"/>
   <import namespace="http://wsdl.goair"/>
   <import namespace="http://customer.model.goair"/>
   <import namespace="http://employee.model.goair"/>
   <import namespace="http://general.model.goair"/>
   <complexType name="Reservation">
    <sequence>
     <element name="airlineName" nillable="true" type="xsd:string"/>
     <element name="creditCardNumber" nillable="true" type="xsd:string"/>
     <element name="currentStatus" nillable="true" type="xsd:string"/>
     <element name="customerFirstName" nillable="true" type="xsd:string"/>
     <element name="customerId" type="xsd:int"/>
     <element name="customerLastName" nillable="true" type="xsd:string"/>
     <element name="dateOfBooking" nillable="true" type="xsd:dateTime"/>
     <element name="dateOfFlying" nillable="true" type="xsd:dateTime"/>
     <element name="departureTime" nillable="true" type="xsd:dateTime"/>
     <element name="destination" nillable="true" type="xsd:string"/>
     <element name="flightId" type="xsd:int"/>
     <element name="flightName" nillable="true" type="xsd:string"/>
     <element name="numberOfSeatsBooked" type="xsd:int"/>
     <element name="pnr" type="xsd:long"/>
     <element name="source" nillable="true" type="xsd:string"/>
     <element name="totalPrice" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="addReservationRequest">

      <wsdl:part element="impl:addReservation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editCustomerResponse">

      <wsdl:part element="impl:editCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addReservationResponse">

      <wsdl:part element="impl:addReservationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="customerLoginRequest">

      <wsdl:part element="impl:customerLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchFlightsRequest">

      <wsdl:part element="impl:searchFlights" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCustomerRequest">

      <wsdl:part element="impl:addCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllReservationsResponse">

      <wsdl:part element="impl:viewAllReservationsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelReservationRequest">

      <wsdl:part element="impl:cancelReservation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelReservationResponse">

      <wsdl:part element="impl:cancelReservationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllReservationsRequest">

      <wsdl:part element="impl:viewAllReservations" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCustomerResponse">

      <wsdl:part element="impl:addCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createReservationRequest">

      <wsdl:part element="impl:createReservation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchFlightsResponse">

      <wsdl:part element="impl:searchFlightsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createReservationResponse">

      <wsdl:part element="impl:createReservationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editCustomerRequest">

      <wsdl:part element="impl:editCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="customerLoginResponse">

      <wsdl:part element="impl:customerLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CustomerServices">

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainResponse" name="mainResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchFlights">

         <wsdl:input message="impl:searchFlightsRequest" name="searchFlightsRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchFlightsResponse" name="searchFlightsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="customerLogin">

         <wsdl:input message="impl:customerLoginRequest" name="customerLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:customerLoginResponse" name="customerLoginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllReservations">

         <wsdl:input message="impl:viewAllReservationsRequest" name="viewAllReservationsRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewAllReservationsResponse" name="viewAllReservationsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addReservation">

         <wsdl:input message="impl:addReservationRequest" name="addReservationRequest">

       </wsdl:input>

         <wsdl:output message="impl:addReservationResponse" name="addReservationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelReservation">

         <wsdl:input message="impl:cancelReservationRequest" name="cancelReservationRequest">

       </wsdl:input>

         <wsdl:output message="impl:cancelReservationResponse" name="cancelReservationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editCustomer">

         <wsdl:input message="impl:editCustomerRequest" name="editCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:editCustomerResponse" name="editCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCustomer">

         <wsdl:input message="impl:addCustomerRequest" name="addCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCustomerResponse" name="addCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createReservation">

         <wsdl:input message="impl:createReservationRequest" name="createReservationRequest">

       </wsdl:input>

         <wsdl:output message="impl:createReservationResponse" name="createReservationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CustomerServicesSoapBinding" type="impl:CustomerServices">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchFlights">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchFlightsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchFlightsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="customerLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="customerLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="customerLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllReservations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewAllReservationsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewAllReservationsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addReservation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addReservationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addReservationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelReservation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelReservationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cancelReservationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createReservation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createReservationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createReservationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustomerServicesService">

      <wsdl:port binding="impl:CustomerServicesSoapBinding" name="CustomerServices">

         <wsdlsoap:address location="http://localhost:8080/goAir1/services/CustomerServices"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
